body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}
#projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 25%;
}
#addProject {
  width: 25%;
}
.active-project {
  font-size: 25px;
  font-weight: 900;
  color: red;
}
